In [1]:
# ques1
import pandas as pd
li = [4,8,15,16,23,42]
ps = pd.Series(li)
print(ps)
print(type(ps))

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64
<class 'pandas.core.series.Series'>

In [2]:
# ques2
li2 = list(range(10))
ps1 = pd.Series(li2)
print(ps1)
print(type(ps))

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64
<class 'pandas.core.series.Series'>

In [10]:
# ques3
data = [["Alice" , 25 , "Female"],
        ["Bob" , 30 , "Male"],
        ["Clair" , 27 , "Female"]]
df = pd.DataFrame(data , columns = ["Name" , "Age" , "Gender"])
print(df.to_string(index = False))

 Name  Age Gender
Alice   25 Female
  Bob   30   Male
Clair   27 Female

In [11]:
# ques4
# dataFrame is a 2-dimensional labeled data structure with columns of potentially different types
# pandas.series is one dimensional and element are homogeneous , index is defined
# for dataframe - index is optional , elements can be heterogeneous

In [12]:
# examples

import pandas as pd
li = [4,8,15,16,23,42]
ps = pd.Series(li)
print(ps)
data = [["Alice" , 25 , "Female"],
        ["Bob" , 30 , "Male"],
        ["Clair" , 27 , "Female"]]
df = pd.DataFrame(data , columns = ["Name" , "Age" , "Gender"])
print(df.to_string(index = False))

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64
 Name  Age Gender
Alice   25 Female
  Bob   30   Male
Clair   27 Female

In [24]:
# ques5
# dropping columns in the data
# dropping rows in the data
# renaming a column in the dataset
# etc

# example
data = {'NAME' : ['ANJALI' , 'ARYAN' , 'RITIK'] , 
       'AGE' : [20 , 20 , 22] , 
       'GENDER' : ['FEMALE' , 'MALE' , 'MALE']}
df1 = pd.DataFrame(data)
df1.drop(['AGE' , 'GENDER'] , axis = 1 , inplace = True)
print(df1)

     NAME
0  ANJALI
1   ARYAN
2   RITIK

In [ ]:
# ques6
# all data structures are value mutable.
# all data structures in pandas are sixe mutable except series

In [25]:
name = pd.Series(["anjali" , "bulbul"])
age = pd.Series([20 , 22])
gender = pd.Series(["female" , "female"])
df = pd.concat([name , age , gender], axis = 1)
print(df)

        0   1       2
0  anjali  20  female
1  bulbul  22  female